#back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    text-decoration: none;
    display: none;
    width: 45px;
    height: 45px;
    background-color: #08408E; /* Blue color */
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px; /* Slightly rounded corners */
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#back-to-top.show {
    display: flex !important;
}

#back-to-top:hover {
    background-color: #062b61; /* Darker blue */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#back-to-top i {
    font-size: 20px;
    color: white;
}
