.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    text-decoration: none;
    display: none;
}

.back-to-top-square {
    width: 50px;
    height: 50px;
    background-color: #08408E; /* Red color like in the image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top-square i {
    color: white;
    font-size: 24px;
}
